doctype html
html
  head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700")
    link(rel="stylesheet", href="/parkedproject.css")
    link(rel="icon", href="/parkedproject-192px.png", sizes="192x192")
    link(rel="icon", href="/parkedproject-64px.png", sizes="64x64")
    link(rel="icon", href="/parkedproject-32px.png", sizes="32x32")
    link(rel="icon", href="/parkedproject-16px.png", sizes="16x16")
    title Parked Project
  body
    main
      h1 Parking for domains you actually want
      p See <a href="https://github.com/h5bp/lazyweb-requests/issues/167">lazyweb issue 167</a>.
    footer.
      <a href="https://www.parkedproject.com" class="brandlink">Parked Project</a>
